.magnetic {
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.75s cubic-bezier(0, 0.55, 0.45, 1);
}

.magnetic-text,
.magnetic-text-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.magnetic:focus,
.magnetic-hover {
  color: #fff;
}

.magnetic-filler {
  display: block;
  background: var(--color-dark);
  position: absolute;
  width: 150%;
  height: 200%;
  border-radius: 50%;
  top: -50%;
  left: -25%;
  transform: translate3d(0,75%,0);
}
