$color-primary: #f5bb00;
$color-secondary: #cf88fe;
$color-tertiary: #d2e2da;
$color-dark: #212227;
$color-light: #e6eeea;

:root {
  --color-primary: #f5bb00;
  --color-secondary: #cf88fe;
  --color-tertiary: #d2e2da;
  --color-dark: #212227;
  --color-light: #e6eeea;
}
